.ebp-wrapper {
    position: fixed;
    right: calc(300px * -1);
    bottom: 0;
    left: unset;
    min-width: 300px;
    height: 100vh;
    width: 300px;
    transition: all 150ms ease-in;
    z-index: 2147483647;
}

.ebp-wrapper--open {
    right: 0;
}

.ebp-move-element {
    position: absolute;
    background: rgb(255, 190, 92);
    border-radius: 8px;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    top: -40px;
    right: 4px;
}

.ebp-iframe {
    box-sizing: border-box;
    z-index: 2147483647;
    clip: unset;
    height: 100%;
    width: 100%;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 8px;
}
