.title {
    display: block;
    margin: 0 0 24px;
}

.header {
    display: flex;
    gap: 12px;
}

.search {
    max-width: 250px;
}

.searchIcon {
    color: var(--g-color-text-hint);
    margin-inline-end: 6px;
}

.modalContainer {
    width: 700px;
    padding: 32px;
    display: grid;
    gap: 16px;
}

.label {
    display: grid;
    gap: 4px;
}

.createProject {
    grid-column-start: 1;
    grid-column-end: -1;
}
